*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
background: #080808;
color: #fff;
}
#header{
    width: 150%;
    height: 120vh;
    background-image:url(Photo.jpg) ;
    background-size: cover;
    background-position: center;
  padding-right: 10px;
    background-attachment:fixed;
}
.container{
    /* padding: 10px 20%; */
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;

}
nav{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
     
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
    align-items: flex-end;
    
   
}
nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size: 22px;
    position: relative;
    font-weight: 600px;

}
nav ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: #ff0308;
    left: 0;
    bottom: -3px;
    transition: 0.3s ease;
  }
  
nav ul li a:hover::after {
    width: 100%;
  }

.header_text{
    margin: 30%;
    font-size: 22px;
    margin-left: 5%;
    margin-top: 20%;
}
.header_text h1{
    font-size: 40px;
    margin-top: 15px;
}
.header_text h1 span{
    color:#ff004f;
}




/* ----- About me--- */
#about{
    padding: 80px 0;
    color: #ababaa;
    width: 95%;
}
.row{
    display:flex ;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    margin-left: -40px;
    margin-right: -40px;
}
.about-col-1{
    flex-basis: 35%;
    justify-content: end;
}
.about-col-1 img{
    width: 100%;
    border-radius: 50%;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    height: 70vh;
    margin-left: 100px;
    
}
.about-col-2{
    flex-basis: 50%;
    justify-content: flex-end;
}
.sub-title{
     font-size: 33px;
     font-weight: 700;
     color:#fff;
     padding-bottom: 40px;


}
.para{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 50;
  color:#fbfafa

}

.tab-titles{
    display:flex;
    margin:20px 0 40px;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    color: #fbfafa;

}
.tab-links{
    margin-right: 50px;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: #fbfafa;
    margin-left: 10px;
}
.tab-links::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: #f70552;
    left: 0;
    bottom: -3px;
    transition: 0.3s ease;
}
.tab-links.active-link::after{
    width:50%
}
  .tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
    
  }  
  .tab-contents ul li span{
    color: #c30843;
    font-size: 18px ;
    font-family: 'Times New Roman', Times, serif;
  }
  .tab-contents {
    display: none;
  
  }
  .tab-contents.active-tab {
    display: block;
    color: #fbfafa;
  }



  /* Services */
#services{
padding: 30px,0;
}
.containers{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
  .services-list{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr)) ;
    grid-gap:40px;
    margin-top: 55px;
    text-align: center;
  }
  .services-list div{
    background: #262626;
    padding: 35px;
    font-size: 10px;
    font-weight: 300;
    border-right: 20px;
    padding-top: 20px;
    border-radius: 20%;
    transition:background 0.5s, transform 0.5s;

  }
  .services-list div img{
    font-size: 15px;
    margin-bottom: 20px;
     width: 90%;
    border-radius: 30%;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    height: 20vh;
}
  .services-list div h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .services-list div p{
    font-size: 15px;
    color: #fbfafa;
  }
  .services-list div a{
    text-decoration: none;
    color:#f3f0f1;
    font-size: 14px;
    margin-top: 50px;
    display: inline-block;
    padding-bottom: 15px;
  }
  .services-list div:hover{
  background: #f6a103;
  transform: translate(-10px);

  }



/* -- my work---- */

#port{
padding: 30px,0;
padding-top: 40px;
}
.containar{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
.sub{
  padding-top: 45px;
  font-size: 33px;
  color: #fff;
}
  .work-list{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr)) ;
    grid-gap:40px;
    margin-top: 55px;
    text-align: center;
  }
  .work-list div{
    background: #262626;
    padding: 70px;
    font-size: 10px;
    font-weight: 300;
    border-right: 20px;
    padding-top: 20px;
    border-radius: 10%;
    transition:background 0.5s, transform 0.5s;

  }
  .work-list div img{
    font-size: 15px;
    margin-bottom: 20px;
     width: 90%;
    border-radius: 20%;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    height: 20vh;
}
  .work-list div h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .work-list div p{
    font-size: 15px;
    color: #fbfafa;
  }
  .work-list div:hover{
  background: #e60045;
  transform: translate(-10px);

  }

  .see-more-btn {
    display: inline-block;
    padding: 10px 25px;
    background: #ff004f;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  .see-more-btn:hover {
    background: #e60045;
  }




  /* --- contact---- */
   #contact {
    background: #0b0000;
    font-family: Arial, sans-serif;
    width: 96%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  padding-right: 20px;
  padding-right: 20px;
  padding-top: 20px;
  }
  
  .containerss {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    max-width: 1000px;

  }
   .sub-titles {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px; 
  
  }
  .contact-right {
    flex: 1 1 100px;
    padding-left: 15px;
    padding-top: 10px;
    margin-left: 20px;
    padding-right: 45px;
  }
  
  .contact-left p {
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    color: #fff;
    margin-top: 20px;
  }
  .contact-left h1{
    text-align: center;
  }
  
  .contact-left p i {
    margin-right: 15px;
    color: #9df179;
    font-size: 20px;
  }
  
  .social-icons a  {
    display: inline-block;
    margin-right: 15px;
    color: #c4c8c4cd;
    transition: color 0.3s;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .social-icons a:hover {
    color: #dc2811;
  }
  .see-more-btn:hover{
    color:#9beb79
  }
  input,
  form textarea {
    width: 160%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
  }
  
  form button {
    background-color: #ff004f;
    color: white;
    padding: 12px 30px ;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 50%;

  }
  
  form button:hover {
    background-color: #91e099;
  } 





  /* ----footer--- */
.copyright{
    width: 100%;
    text-align: center;
    padding:25px 0;
    background: #262626;
    font-weight: 500;
    margin-top: 20px;
    color: #fbfafa;

}
.copyright p i{
    color: #f53333;
}


#msg{
  color: #06f632;
  margin-top:15px ;
  display: block;
  margin-left: -10px;
}

/* ----- For respnsive---- */
nav .fa-solid{
  display: none;
}
@media only screen and (max-width:600px){
  #header{
    background-image: url(Photo1.jpg);
       .header_text{
      margin-left: 10%;
      margin-top: 50%;
  
    }
  }
  nav .fa-solid{
    position: absolute;
  display: block;
  font-size: 33px;
  top: 22px;
  right: -85px;
}
nav ul{
  background: #e05757;
  position:fixed;
  top: 0;
  right: 0px;
  width: 160px;
  right: -160px;
  height: 90vh;
  padding-top: 50px;
  z-index: 2;
  transition: right 0.5s;
}
nav ul li {
  display: block;
  margin: 25px;
}
nav ul .fa-solid{
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
  right: 10px;
}
.about-col-1, .about-col-2{
  flex-basis: 100%;
  left: 10px;
}
.about-col-1{
  margin: 30px;
  margin-right: 40px;
}
.contact-left, .contact-right{
  flex-basis: 100%;
}
.contact-right{
  margin-right: 50px;
}
.copyright{
  text-align: center;
  width: 110%;
  margin-left: 50px;
}
 nav {
  background: #0b0000;
  padding: 10px;
}
.container{
  padding-left: 65px;
  width: 100%;
  margin-left:-30px;
}
.containers{
  padding-left: 65px;
  width:100%;
}
.containar{
   padding-left: 65px;
  width:100%;
}
 .containerrr ul {
  max-width: 600px;
  max-height: 90vh; 
  padding-left: 60px;
  padding-right: 50px;
  padding-bottom: 10px; 
  display: inline-flex;
 }
#sp p{
  text-align: center;
  padding-left: 100px;
}

#map{
  height: 400px;
  width: 100%;
  margin-left: 10px;
   /* padding-top: 25px;
  padding-bottom: 40px; */
  
}

.about-col-1 img{
    width: 150%;
    border-radius: 50%;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-right: 100px;
    height: 60vh;
}
 /* ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
    align-items: end;
    margin-bottom: 35px;
    margin-top: 45px;margin-left: 75px;
}  */
 .row{
    display:flex ;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
#map{
  height: 400px;
  width: 100%;
margin-left: 10px;
margin-right: 10px;
  
}
 .containerrr{
   padding-top: 50px;
  max-width: 100%;
  max-height: 400px; 
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;

}
}



body {
  margin: 0;
  font-family: sans-serif;
}

/* nav {
  background: #000;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; */
/* nav li {
  margin-right: 8px; */


 ul li button{
    color:#fff;
    text-decoration:none;
    font-size: 18px;
    position: relative;
}
 ul li button::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 3px;
    background: #0bef39;
    left: 0;
    bottom: -3px;
    transition: 0.5s ease;
  }
 ul li button:hover::after {
    width: 100%;
  }
 
button {
  background: #140000;
  color: white;
  border: none;
  padding: 8px 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500px;

}

button:hover {
  background: #f3050d;
}

#map{
  height: 400px;
  width: 90%;
margin-left: 80px;
margin-right: 0px;
  
}
 .containerrr{
   padding-top: 50px;
  max-width: 600px;
  max-height: 90vh; 
  padding-left: 60px;
  padding-right: 50px;
  padding-bottom: 40px;
 }
#sp p{
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  text-align: center;
  padding-right: 0%;
  padding-top: 48px;
  font-weight: 600;
  padding-bottom: 10px;
}
#sp#map{
   padding-top: 50px;
  max-width: 600px;
  max-height: 100vh; 
}
